In [135]:
import pandas as pd

In [197]:
df = pd.read_csv('/Users/admin/Downloads/data/h2h/groupF_H2H.csv',sep=';',names =['Date','Match','_','Result','Competitions'])

In [198]:
df.drop(columns = '_', axis = 1, inplace=True)

In [199]:
df['Date'] = pd.to_datetime(df['Date'], format='%d %b %Y')

In [200]:
df['Match'] = df['Match'].str.split(' v ')

In [201]:
df['Home'] = df['Match'].str[0]
df['Away'] = df['Match'].str[1]

In [202]:
df.drop(columns = 'Match', axis = 1, inplace=True)

In [203]:
df['Result'] = df['Result'].str.split('-')

In [204]:
df['H'] = df['Result'].str[0]
df['A'] = df['Result'].str[1]

In [205]:
df.drop(columns = 'Result', axis = 1, inplace=True)

In [206]:
df['H']=df['H'].astype(int)
df['A']=df['A'].astype(int)

In [207]:
df.loc[df['H']>df['A'],'Result']='H'
df.loc[df['H']==df['A'],'Result']='D'
df.loc[df['H']<df['A'],'Result']='A'

In [208]:
df.to_csv('/Users/admin/Downloads/data/h2h/groupF_H2H_modified.csv')

In [147]:
df

,Date,Result,Competitions,Home,Away,H,A
0,1929-06-01,D,International Friendly,Germany,Scotland,1,1
1,1936-10-14,H,International Friendly,Scotland,Germany,2,0
2,1957-05-22,A,International Friendly,West Germany,Scotland,1,3
3,1959-05-06,H,International Friendly,Scotland,West Germany,3,2
4,1964-05-12,D,International Friendly,West Germany,Scotland,2,2
...,...,...,...,...,...,...,...
172,1997-08-20,D,FIFA World Cup,Hungary,Switzerland,1,1
173,1998-11-18,H,International Friendly,Hungary,Switzerland,2,0
174,2002-02-13,H,Four Nation Tournament Cyprus,Switzerland,Hungary,2,1
175,2016-10-07,A,FIFA World Cup,Hungary,Switzerland,2,3
176,2017-10-07,H,FIFA World Cup,Switzerland,Hungary,5,2